.logout-btn {
  background-color: aquamarine;
}

.company-logo {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
}

.dashboard__header {
  background-color: var(--company-theme);
}

.card__title {
  color: var(--company-theme);
  filter: invert(1);

  font-weight: 500;
}

.dashboard__card {
  background-color: var(--company-theme);
  display: flex;
  width: 25rem;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.25rem;
}

.card__text {
  color: var(--company-theme);
  filter: brightness(3);
}
