@use "../../styles/reset" as *;

.signup-ctnr {
  display: flex;
  // height: 100%;
  // width: 50%;
  // position: fixed;
  // z-index: 1;
  // top: 0;
  // overflow-x: hidden;
  // padding-top: 20px;
}

.signup-left {
  display: flex;
  flex-direction: column;
}

.signup-right {
  display: flex;
  flex-direction: column;
}
