.logo__img {
  width: 4.5rem;
  height: 4.5rem;
}

.logo__name {
  display: flex;
  max-width: 9.375rem;
  color: #fff;
  font-size: 3rem;
  font-weight: 600;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
